<div class="bg-page pt-5 pb-1">
  <div class="text-center d-none d-sm-block">
    <!-- <a href="www.facebook.com/xxx" target="_blank">
      <i class="icon fab fa-facebook"></i>
     </a> -->
     <a href="https://www.instagram.com/ranpuargentina/" target="_blank">
      <i class="icon fab fa-instagram"></i>
    </a>
    <a href="mailto:consultas@ranpu.com.ar" target="_blank">
      <i class="icon fas fa-envelope"></i>
    </a>
    <a href="https://wa.me/+541131421050" target="_blank">
     <i class="icon fab fa-whatsapp-square"></i>
   </a>
    <!-- <img src="./assets/12.png" style="width: 9%" alt="" /> -->
    <p class="txt">
      Consultoría y proyectos de planta física para instituciones de
      discapacidad y rehabilitación.
    </p>
    <p>©2020 RANPU</p>
    <p style="font-size: 15px;">Página desarrollada por Matias Soto</p>
  </div>
  <div class="text-center d-block d-sm-none">
    <p>©2020 RANPU</p>
    <p class="txt mb-5">
      Consultoría y proyectos de planta física <br> para instituciones de
      discapacidad<br> y rehabilitación.
    </p>
    <!-- <img src="./assets/10.png" style="width: 12%" alt="" />
    <img src="./assets/11.png" class="logo" style="width: 12%" alt="" />
     <img src="./assets/12.png" style="width: 12%" alt="" />-->
     <!-- <a href="www.facebook.com/xxx" target="_blank">
       <i class="icon mobile fab fa-facebook"></i>
      </a> -->
      <a href="https://www.instagram.com/ranpuargentina/" target="_blank">
       <i class="icon mobile fab fa-instagram"></i>
     </a>
     <a href="mailto:consultas@ranpu.com.ar" target="_blank">
       <i class="icon mobile fas fa-envelope"></i>
     </a>
     <a href="https://wa.me/+541131421050" target="_blank">
      <i class="icon mobile fab fa-whatsapp-square"></i>
    </a>

    <p class="mt-5" style="font-size: 15px;">Página desarrollada por Matias Soto</p>
  </div>
</div>
