<div class="py-3">
  <p class="text-center contacto">CONTACTO</p>
  <div class="container-fluid">
    <div class="row my-4">
      <div class="col-12 col-md-4 border-right container-fluid">
        <p class="txt">
          Envianos tu consulta y te contataremos
          <span class="espacio">dentro de las proximas 48hs.</span>
        </p>
        <div class="container mt-3">
          <img
            src="../../assets/08.png"
            alt=""
            style="width: 19%"
            class="mx-auto d-block"
          />
          <p class="text-center mail">consulatas@ranpu.com.ar</p>
        </div>
        <div class="container">
          <img
            src="../../assets/09.png"
            alt=""
            style="width: 19%"
            class="mx-auto d-block"
          />
          <p class="text-center mail">01131421050</p>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <form class="formulario-style">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="email" class="" placeholder="Nombre" />
            </div>
            <div class="form-group col-md-6">
              <input type="password" class="" placeholder="Telefono" />
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="f" placeholder="E-Mail" />
          </div>
          <div class="form-group">
            <input type="text" class="" placeholder="Localidad" />
          </div>
          <div class="form-group">
            <textarea class="text-tarea" placeholder="Mensaje"></textarea>
          </div>
          <div class="text-right">
            <button type="submit" class="button">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
