* {
  background: #212121;
  color: white;
}
.card-contacto {
  max-width: 1150px;
  margin: 0 auto;
  padding-top: 27px;
}
.txt {
  font-size: 1.9rem;
  font-family: Caviar Dreams;
  line-height: 1;
  margin-bottom: 3rem;
  margin-left: auto;
  width: 94%;
  text-align: justify;
}
.espacio {
  letter-spacing: 6px;
}
.txt.mobile {
  text-align: left;
}

.mail {
  font-size: 1.5rem;
  font-family: Caviar Dreams;
}
.formulario-style {
  margin: 0px 0px 0px 0px;
  max-width: 86%;
  margin: 0 auto;
  padding-top: 21px;
  height: 536px;
}
.text-tarea {
  width: 100%;
  height: 193px;
  resize: none;
  background-color: rgb(163, 163, 163);
  color: black;
  font-size: 1.7rem;
}
.contacto {
  letter-spacing: 59px;
  font-family: Made Saonara;
  font-size: 62px;
  margin-bottom: 3rem;
}
.contacto-consulta {
  padding-top: 22px;
  padding-bottom: 30px;
}
.borde {
  border-right: 2px solid #f8f8f8;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
input {
  width: 100%;
  height: 46px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid white;
  font-size: 1.7rem;
}
textarea {
  font-size: 20px;
}
textarea::placeholder {
  color: black;
}
.button {
  background-color: #f0c14d;
  border: none;
  color: black;
  width: 45%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
}
.icon {
  font-size: 4rem;
}
@media (max-width: 1070px) {
  .contacto {
    letter-spacing: 50px;
    font-size: 50px;
  }
}
@media (max-width: 900px) {
  .contacto {
    letter-spacing: 40px;
  }
  .mail {
    font-size: 1.4rem;
  }
}
@media (max-width: 767px) {
  .txt {
    text-align: center;
  }
  .borde {
    border-right: none;
  }
  .contacto {
    margin-bottom: 0px;
    margin-left: 6%;
    letter-spacing: 55px;
    font-size: 4rem;
  }
  .button {
    width: 98%;
  }
  .formulario-style {
    max-width: 90%;
  }
  .txt {
    font-size: 1.9rem;
    line-height: 34px;
    margin-bottom: 1rem;
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .contacto {
    letter-spacing: 45px;
    font-size: 3.5rem;
  }
  input {
    height: 36px;
    font-size: 1.5rem;
  }
  .text-tarea {
    font-size: 1.5rem;
    height: 220px;
  }
  .formulario-style {
    height: 518px;
  }
}
@media (max-width: 581px) {
  .contacto {
    letter-spacing: 39px;
    font-size: 3rem;
  }
  .formulario-style {
    max-width: 95%;
  }
  .txt {
    font-size: 1.5rem;
    line-height: 26px;
  }
}
@media (max-width: 575px) {
  input {
    height: 36px;
    font-size: 1.5rem;
  }
  .text-tarea {
    font-size: 1.5rem;
    height: 170px;
  }
  .form-group {
    margin-bottom: 0.5rem;
  }
  .formulario-style {
    height: 453px;
  }
}

@media (max-width: 510px) {
  .contacto {
    letter-spacing: 34px;
    font-size: 2.5rem;
  }
  .txt {
    font-size: 1.4rem;
    line-height: 25px;
  }
  .espacio {
    letter-spacing: 4px;
  }
}
@media (max-width: 437px) {
  .contacto {
    letter-spacing: 25px;
    font-size: 2.8rem;
  }
  .txt {
    font-size: 1.2rem;
    line-height: 25px;
  }
  .espacio {
    letter-spacing: 3px;
  }
}
@media (max-width: 377px) {
  .contacto {
    letter-spacing: 25px;
    font-size: 2.5rem;
  }
  .txt {
    font-size: 1rem;
    line-height: 20px;
  }
  .espacio {
    letter-spacing: 2 px;
  }
}
@media (max-width: 358px) {
  .contacto {
    letter-spacing: 20px;
    font-size: 2.5rem;
  }
}
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border-bottom: 1px solid red;
}
input,
textarea {
  outline: none;
}
button:disabled {
  opacity: 0.6;
  background-color: lightgrey;
}
