<div class="py-3">
  <div class="card-contacto">
    <div>
      <p class="text-center contacto">CONTACTO</p>
    </div>
    <div class="container-fluid">
      <div class="row mb-4 mt-md-4 mt-0">
        <div class="col-12 col-md-4 borde d-none d-md-block">
          <div class="contacto-consulta">
            <p class="txt d-none d-xl-block">
              Envianos tu consulta <br> y te contactaremos<br> <span class="espacio">dentro de las</span> <br> <span class="espacio">próximas 48hs</span>.
            </p>
            <p class="txt mobile d-xl-none">
              Envianos tu consulta y te contactaremos dentro de las próximas 48hs.
            </p>
            <div class="container text-center my-5">
              <!-- <img src="./assets/08.png" alt="" style="width: 19%" class="mx-auto d-block" /> -->
              <a href="mailto:consultas@ranpu.com.ar" target="_blank">
                <i class="icon fas fa-envelope"></i>
                <p class="text-center mail">consultas@ranpu.com.ar</p>
              </a>
            </div>
            <div class="container text-center">
              <!-- <img src="./assets/13.png" alt="" style="width: 19%" class="mx-auto d-block" /> -->
              <a href="https://wa.me/+541131421050" target="_blank">
                <i class="icon mb-2 fab fa-whatsapp-square"></i>
                <p class="text-center mail">01131421050</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8" style="font-family: Calibri1;">
          <div class="formulario-style">
            <form [formGroup]="form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="" placeholder="Nombre" formControlName="name" />
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="" placeholder="Telefono" formControlName="phone" />
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="" placeholder="E-Mail (Obligatorio)" formControlName="email" />
                <div *ngIf="form.controls.email.touched && !form.controls.email.valid" class="invalid-feedback d-block">
                  <span *ngIf="form.controls.email.errors.required">E-mail es obligatorio</span>
                  <span *ngIf="form.controls.email.errors.email">E-mail es inválido</span>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="" placeholder="Localidad" formControlName="localidad" />
              </div>
              <div class="form-group">
                <textarea class="text-tarea" placeholder="Mensaje (Obligatorio)" formControlName="mensaje"></textarea>
                <div *ngIf="form.controls.mensaje.touched && !form.controls.mensaje.valid"
                  class="invalid-feedback d-block">
                  <span *ngIf="form.controls.mensaje.errors.required">Mensaje es obligatorio</span>
                </div>
              </div>
              <div class="text-md-right text-center">
                <button (click)="sendEmail()" type="submit" [disabled]="!form.valid" class="button">Enviar</button>
              </div>
            </form>
          </div>
          <div class="d-block d-md-none">
            <p class="txt">
              Envianos tu consulta y te contactaremos<br> <span class="espacio">dentro de las próximas 48hs</span>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
