<div class="py-5 container">
  <div class="borde-out">
    <div class="estilo-card">
      <h2 class="text-center estilo-title my-3">POR QUÉ ELEGIRNOS</h2>

      <div class="estilo-txt my-4">
        Contamos con mas de 20 AÑOS DE EXPERENCIA EN EL MANEJO DEL MARCO BÁSICO
        y son nuestro diferencial y valor agregado, entendiendo que el
        conocimiento profundo de la normativa nos permite arribar de manera
        eficiente a un proyecto acreditable, optimizando la CAPACIDAD instalada
        y MAXIMIZANDO LA RENTABILIDAD DEL RECURSO FISICO.
      </div>
    </div>
  </div>

  <div class="container">
    <img
      src="../../assets/07.png"
      alt=""
      style="width: 23%"
      class="mx-auto d-block"
    />
  </div>
</div>
