<div class="py-5 container">
  <div class="borde-out">
    <div class="estilo-card">
      <h2 class="text-center estilo-title my-sm-3 mt-3 mb-2">
        <!-- <span>P</span>
        <span>O</span>
        <span>R</span>
        <span> </span>
        <span>Q</span>
        <span>U</span>
        <span>É</span>
        <span> </span>
        <span>E</span>
        <span>L</span>
        <span>E</span>
        <span>G</span>
        <span>I</span>
        <span>R</span>
        <span>N</span>
        <span>O</span>
        <span>S</span> -->
        POR QUÉ ELERGIRNOS
      </h2>

      <div class="estilo-txt my-sm-4 mt-1 mb-3">
        Contamos con mas de 20 años de experencia en el manejo del Marco Básico
        y son nuestro diferencial y valor agregado, entendiendo que el
        conocimiento profundo de la normativa nos permite arribar de manera
        eficiente a un proyecto acreditable, optimizando la capacidad instalada
        y maximizando la rentabilidad del recurso físico.
      </div>
    </div>
  </div>

  <div class="container">
    <img
      src="./assets/07.png"
      alt=""
      style="width: 23%"
      class="mx-auto d-block"
    />
  </div>
</div>
