<div class="c-imagen" style="
box-shadow: 0px 18px 72px #736438;">
    <!-- encabezado desktop -->
   <div class="d-none d-sm-block w-100 ">
     <img src="./../../../assets/foto vision mujer editada.jpg" class="img-fluid w-100" alt="" />
   </div>
   <div class="sombra"></div>
   <!-- encabezado mobile -->
   <div class="d-block d-sm-none ">
     <img src="./../../../assets/foto vision mujer editada mobile.jpg" class="img-fluid w-100" alt="" />
   </div>
   <div class="sombra"></div>
     <div class="txt">
        <p class="title">Nuestra Misión</p>
        <p>Proyectar o refuncionalizar espacios de <br> discapacidad y rehabilitación y acompañarte <br> en el proceso de
            categorización, basándonos en la <br> vasta experiencia y conocimiento de la normativa.
        </p>
     </div>
   </div>
