<div class="bg-page container-fluid pa-bo">
    <div class="card-equipo container-fluid" style="color: white;">
        <div>
            <h2 class="text-center tittle-uno">Nuestro equipo</h2>
        </div>
        <div class="row ml-auto mr-auto">
            <div class="col-md-6 col-12 mb-md-0 mb-5 card-foto">
                <div class="mr-auto ml-auto" style="max-width: 430px;">
                    <img src="./../../../assets/Moni.jpg" width="420" height="420" alt="">
                    <h2 class="tittle-dos">Mónica Sidi</h2>
                    <div class="txt">
                        Arquitecta Proyectista, especialista en diseños de Discapacidad y Rehabilitación. <br>
                        Profesional
                        Acreditador y auditor de más de 4000 instituciones en todo el país, que conforman el padrón
                        prestacional de discapacidad y rehabilitación de PAMI. <br> Redactora del área de planta física
                        del
                        Marco Básico (Ley 24901). <br> Fue profesional acreditador en la Subgerencia de Discapacidad y
                        Auditora de Unidad de Auditoria Prestacional de PAMI con más de 20 años de esperencia. <br> Ex
                        miembro de la Junta evaluadora de Prestadores de Servicios de Atención de Prestadores. <br>
                        Docente
                        y formadora de profesionales, responsables en la acreditación de instituciones de Discapacidad
                        de
                        todo el país.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 card-foto">
                <div class="mr-auto ml-auto" style="max-width: 430px;">
                    <img src="./../../../assets/Juan.jpg" width="420" height="420" alt="">
                    <h2 class="tittle-dos">Juan José Di Nuzzo</h2>
                    <div class="txt">
                        Arquitecto Hospitalario, especialista en Recursos físicos en Salud. Consultor, Proyectista. <br>
                        Ex Asesor de la Dirección General de Recursos Físicos en Salud, Ministerio de Salud del Gobierno
                        de
                        la Ciudad de Buenos Aires. <br>
                        Ex Asesor de la Dirección Atención integral de la Salud, Secretaría de Salud del Gobierno de la
                        Ciudad de Buenos Aires en el área de planeamiento del recurso físico. <br>
                        Ex Instructor de Residentes de Programas Especiales en Arquitectura Hospitalaria de la
                        Municipalidad
                        de la Ciudad de Buenos Aires. <br>
                        Ex Asesor de la Presidencia de la Comisión de Salud de la Legislatura de la Ciudad de Buenos
                        Aires.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row ml-auto mr-auto" >
    <div class="col-md-6 col-12 card-foto" >
        <img src="./../../../assets/Moni.jpg" width="420" height="420" alt="">
        <h2 class="tittle-dos">Mónica Sidi</h2>
        <div class="txt">
            Arquitecta Proyectista, especialista en diseños de Discapacidad y Rehabilitación. <br> Profecional
            Acreditador y auditor de más de 4000 instituciones en todo el país, que conforman el padrón
            prestacional de discapacidad y rehabilitación de PAMI. <br> Redactora del área de planta física del
            Marco Básico (Ley 24901). <br> Fue profesional acreditador en la Subgerencia de Discapacidad y
            Auditora de Unidad de Auditoria Prestacional de PAMI con más de 20 años de esperencia. <br> Ex
            miembro de la Junta evaluadora de Prestadores de Servicios de Atención de Prestadores. <br> Docente
            y formadora de profecionales, responsables en la acreditación de instituciones de Discapacidad de
            todo el país.
        </div>
    </div>
    <div class="col-md-6 col-12 card-foto">
        <img src="./../../../assets/Juan.jpg" width="420" height="420" alt="">
        <h2 class="tittle-dos">Juan José Di Nuzzo</h2>
        <div class="txt">
            Arquitecto Hospitalario, especialista en Recursos físicos en Salud. Consultor, Proyectista. <br>
            Ex Asesor de la Dirección General de Recursos Físicos en Salud, Ministerio de Salud del Gobierno de
            la Ciudad de Buenos Aires. <br>
            Ex Asesor de la Dirección Atención integral de la Salud, Secretaría de Salud del Gobierno de la
            Ciudad de Buenos Aires en el área de planeamiento del recurso físico. <br>
            Ex Instructor de Residentes de Programas Especiales en Arquitectura Hospitalaria de la Municipalidad
            de la Ciudad de Buenos Aires. <br>
            Ex Asesot de la Presidencia de la Comisión de Salud de la Legislatura de la Ciudad de Buenos Aires.
        </div>
    </div>
</div> -->

<!-- <div class="d-flex justify-content-md-around" >
            <div class="card-foto" >
                <img src="./../../../assets/Moni.jpg" width="420" height="420" alt="">
                <h2 class="tittle-dos">Mónica Sidi</h2>
                <div class="txt">
                    Arquitecta Proyectista, especialista en diseños de Discapacidad y Rehabilitación. <br> Profecional
                    Acreditador y auditor de más de 4000 instituciones en todo el país, que conforman el padrón
                    prestacional de discapacidad y rehabilitación de PAMI. <br> Redactora del área de planta física del
                    Marco Básico (Ley 24901). <br> Fue profesional acreditador en la Subgerencia de Discapacidad y
                    Auditora de Unidad de Auditoria Prestacional de PAMI con más de 20 años de esperencia. <br> Ex
                    miembro de la Junta evaluadora de Prestadores de Servicios de Atención de Prestadores. <br> Docente
                    y formadora de profecionales, responsables en la acreditación de instituciones de Discapacidad de
                    todo el país.
                </div>
            </div>
            <div class="card-foto">
                <img src="./../../../assets/Juan.jpg" width="420" height="420" alt="">
                <h2 class="tittle-dos">Juan José Di Nuzzo</h2>
                <div class="txt">
                    Arquitecto Hospitalario, especialista en Recursos físicos en Salud. Consultor, Proyectista. <br>
                    Ex Asesor de la Dirección General de Recursos Físicos en Salud, Ministerio de Salud del Gobierno de
                    la Ciudad de Buenos Aires. <br>
                    Ex Asesor de la Dirección Atención integral de la Salud, Secretaría de Salud del Gobierno de la
                    Ciudad de Buenos Aires en el área de planeamiento del recurso físico. <br>
                    Ex Instructor de Residentes de Programas Especiales en Arquitectura Hospitalaria de la Municipalidad
                    de la Ciudad de Buenos Aires. <br>
                    Ex Asesot de la Presidencia de la Comisión de Salud de la Legislatura de la Ciudad de Buenos Aires.
                </div>
            </div>
        </div> -->
