* {
  font-family: Caviar Dreams;
}
.card-equipo {
  max-width: 1200px;
  margin: 0 auto;
}
.txt {
  font-size: 1.6rem;
  max-width: 450px;
  line-height: 1.3;
}
.tittle-dos {
  font-size: 3.3rem;
  padding-top: 30px;
}
.tittle-uno {
  font-size: 4.6rem;
  padding: 80px 0px 60px;
}
.pa-bo {
  padding-bottom: 6rem;
}
@media (max-width: 1038px) {
  .tittle-dos {
    font-size: 3rem;
  }
}
@media (max-width: 992px) {
  img {
    width: 350px;
    height: 350px;
  }
  .txt {
    font-size: 1.6rem;
  }
  .tittle-uno {
    font-size: 4.5rem;
  }
}
@media (max-width: 879px) {
  .tittle-dos {
    font-size: 2.7rem;
  }
}
@media (max-width: 850px) {
  img {
    width: 320px;
    height: 320px;
  }
}
@media (max-width: 768px) {
  img {
    width: 322px;
    height: 322px;
  }
}
@media (max-width: 767px) {
  img {
    width: 100%;
    height: 100%;
  }
  .tittle-uno {
    font-size: 4.3rem;
  }
}
@media (max-width: 575px) {
  .tittle-uno {
    font-size: 3.8rem;
  }
  .tittle-dos {
    font-size: 3.5rem;
  }
  .txt {
    font-size: 1.9rem;
  }
}
@media (max-width: 538px) {
  .tittle-uno {
    font-size: 3.6rem;
  }
  .tittle-dos {
    font-size: 3.3rem;
  }
  .txt {
    font-size: 1.7rem;
  }
}
@media (max-width: 505px) {
  .tittle-uno {
    font-size: 3.3rem;
  }
  .tittle-dos {
    font-size: 2.9rem;
  }
  .txt {
    font-size: 1.4rem;
  }
}
@media (max-width: 445px) {
  .tittle-uno {
    font-size: 3rem;
  }
  .tittle-dos {
    font-size: 2.4rem;
  }
  .txt {
    font-size: 1.2rem;
  }
}
@media (max-width: 389px) {
  .tittle-uno {
    font-size: 2.6rem;
  }
  .tittle-dos {
    font-size: 2rem;
  }
  .txt {
    font-size: 1.1rem;
  }
}
