.txt {
  text-align: center;
  color: white;
  position: absolute;
  width: 87%;
  font-size: 5vw;
  font-weight: bold;
  line-height: 5vw;
  margin: 0px 6%;
}
.c-imagen {
  align-items: center;
  display: flex;
  position: relative;
  max-width: 100%;
}
p {
  margin: -2px 0px -2px;
}
