* {
  font-family: Gotham;
}

.txt {
  text-align: center;
  color: white;
  position: absolute;
  width: 87%;
  font-size: 4rem;
  line-height: 70px;
  margin: 0px 6%;
}
.c-imagen {
  align-items: center;
  display: flex;
  position: relative;
  max-width: 100%;
}
p {
  margin: -2px 0px -2px;
}

@media (max-width: 1468px) {
  p.txt {
    font-size: 60px;
  }
}
@media (max-width: 1200px) {
  p.txt {
    font-size: 50px;
    line-height: 55px;
  }
}
@media (max-width: 960px) {
  p.txt {
    font-size: 40px;
  }
}
@media (max-width: 820px) {
  p.txt {
    font-size: 35px;
    line-height: 40px;
  }
}
@media (max-width: 720px) {
  p.txt {
    font-size: 27px;
  }
}
@media (max-width: 575px) {
  p.txt {
    font-size: 42px;
    line-height: 55px;
  }
}
@media (max-width: 530px) {
  p.txt {
    font-size: 32px;
    line-height: 45px;
  }
}
@media (max-width: 395px) {
  p.txt {
    font-size: 29px;
    line-height: 40px;
  }
}
