* {
  font-family: Gotham;
}
.borde-izquierdo {
  border-left: 1px solid white;
  line-height: 1;
  box-sizing: border-box;
  width: 170px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.edicion-titulo {
  align-content: center;
  text-align: center;
}
.margin-l {
  margin-left: 22%;
}
.contacto-nav {
  padding-top: 28px;
  padding-bottom: 28px;
}

a {
  color: white;
}

li {
  cursor: pointer;
}
@media (max-width: 991px) {
  .borde-izquierdo {
    border-left: none;
    text-align: center;
    width: 190px;
  }
  .row {
    margin-left: 15px;
  }
  a.my-3 {
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .contacto-nav {
    padding-bottom: 5px;
  }
  .borde-izquierdo {
    padding-bottom: 4px;
  }
  .p-nav {
    padding-bottom: 16px;
  }
}
div.nav-item:hover {
  border-bottom: solid 15px white;
  transition-property: all;
  transition-duration: 0.3s;
}
nav {
  z-index: 10;
}
.row {
  margin-right: 15px;
}
