<nav class="navbar navbar-expand-lg navbar-light bg-page">
  <a class="navbar-brand" href="#"
    ><img src="./assets/logo ranpu png.png" width="250" height="100"
  /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav nav-justified ml-auto">
      <li class="nav-item borde-izquierdo">
        <a class="nav-link text-white my-lg-3" [ngxScrollTo]="'servicios'">NUESTROS SERVICIO</a>
      </li>
      <li class="nav-item borde-izquierdo">
        <a class="nav-link text-white my-lg-3" [ngxScrollTo]="'categorizacion'">¿COMO CATEGORIZAR?</a>
      </li>
      <li class="nav-item borde-izquierdo ">
        <a class="nav-link text-white my-lg-3 " [ngxScrollTo]="'nosotros'">SOBRE NOSOTROS</a>
      </li>
      <li class="nav-item borde-izquierdo p-lg-2">
        <a class="nav-link text-white my-lg-3" [ngxScrollTo]="'contacto'">CONTACTO</a>
      </li>
    </ul>
  </div>
</nav>
