.estilo-letra {
  font-family: Made Saonara;
  letter-spacing: 20px;
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-weight: 600;
}
.servicio {
  padding: 5% 0px;
  max-width: 1200px;
}
@media (max-width: 960px) {
  div.estilo-letra {
    letter-spacing: 20px;
  }
}
@media (max-width: 720px) {
  div.estilo-letra {
    letter-spacing: 10px;
  }
}
@media (max-width: 540px) {
  div.estilo-letra {
    letter-spacing: 7px;
  }
}
@media (max-width: 430px) {
  div.estilo-letra {
    letter-spacing: 4px;
    font-size: 29px;
  }
}
