* {
  background-color: #f0c14d;
}
.categoizacion-card {
  /* margin: 0px 8%; */
  max-width: 1225px;
  margin: 0 auto;
  padding-top: 3%;
}

img {
  max-width: 65%;
  display: block;
}
@media screen and (max-width: 650px) {
  img {
    max-width: 80%;
  }
}
@media screen and (max-width: 380px) {
  img {
    max-width: 84%;
  }
}
@media screen and (max-width: 340px) {
  img {
    max-width: 88%;
  }
}
.chat {
  font-size: 2.1rem;
  width: 60%;
  padding: 2% 2%;
  font-family: "Josefin Sans";
  line-height: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}

.icon {
  background-color: white;
  color: #f0c14d;
}
