.card-contacto {
  max-width: 1400px;
  margin: 0 auto;
}
* {
  background-color: white;
}
.txt {
  font-size: 2.5rem;
  border-right: solid 3px;
  margin: 34px 0px;
  font-family: Caviar Dreams;
}
.btn {
  width: 371px;
  height: 87px;
  font-size: 2.4rem;
  font-weight: 800;
  font-family: Gotham;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(64, 50, 17, 1) 92%
  );
  color: white;
  padding-top: 9px;
  border: solid 8px rgb(225, 225, 225);
}
@media (max-width: 992px) {
  .btn {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .txt {
    border-right: none;
  }
  .btn {
    width: 265px;
  }
}
