<div class="container-fluid my-4 my-md-3">
    <div class="row card-contacto">
        <div class="col-md-8 col-12 txt text-center">
            <p class="">Queremos conocerte para brindarte las soluciones que mejor se adapten a tu proyecto. </p>
            <!-- <p class="d-block d-md-none">Queremos conocerte para brindarte las soluciones que mejor se adapten a tu proyecto. </p> -->
        </div>
        <div class="col-md-4 col-12 text-center d-flex">
            <button class="align-self-center ml-auto mr-auto btn" (click)="show=!show" data-toggle="collapse"
                data-target="#collapseExample">CONTACTAR</button>
        </div>
    </div>
</div>
<div class="collapse" id="collapseExample">
    <contacto *ngIf="show"></contacto>
</div>
