<div class="card">
  <!-- <div class="card2"> -->
    <!-- encabezado desktop -->
    <div class="d-none d-md-block encabezado">
      <div class=" icono1"><img src="{{ modality.icon }}" class="icono2" alt="" /></div>
      
      {{ modality.titleCard }}
    </div>
    <!-- encabezado mobile -->
    <div class="d-block d-md-none encabezado text-center">
     <div class=" icono1"><img src="{{ modality.icon }}" class="icono2" alt="" /></div> 
      <p>{{ modality.titleCard }}</p>
    </div>
    <p>{{ modality.description }}</p>
  </div>
  <h2 class="modalidades d-flex justify-content-between">
    <span>M</span>
    <span>O</span>
    <span>D</span>
    <span>A</span>
    <span>L</span>
    <span>I</span>
    <span>D</span>
    <span>A</span>
    <span>D</span>
    <span>E</span>
    <span>S</span>
  </h2>
  <div class="description">
    <div *ngFor="let mdesc of modality.modalityDescription">
      <i class="icono fas fa-check"></i>{{ mdesc }}
    </div>

</div>
