* {
  font-family: Gotham;
}
.card {
  background-color: #f0c14d;
  margin: 0px;
  border: 2px solid black;
}
.encabezado2 {
  background-color: black;
  color: #f0c14d;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 3px;
  width: 100%;
}
p {
  margin: 6% 6%;
  font-size: 1.8rem;
  font-weight: 600;
}
.icono1 {
  width: 78px;
  border-radius: 100px;
  margin: 2% 2% 2% 4%;
  height: 78px;
  background-color: #f0c14d;
  display: inline-block;
}
.icono2 {
  height: 52px;
  width: 52px;
  margin: 11px 13px;
}
.modalidades {
  margin: 15px 0px;
  text-align: center;
  font-size: 31px;
  font-weight: 600;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
}
.description {
  margin: 3% 0px 2%;
  font-size: 1.4rem;
  font-weight: 600;
}

.icono {
  margin-right: 8px;
}
.txt-description {
  font-size: 2rem;
}
.padding-card {
  padding: 4%;
}
.encabezado1 {
  background-color: black;
  color: #f0c14d;
  font-weight: 600;
  font-size: 2.7rem;
  letter-spacing: 13px;
  width: 100%;
}
@media (max-width: 1211px) {
  .encabezado2 {
    font-size: 2.3rem;
    letter-spacing: 2px;
  }
  .encabezado1 {
    font-size: 2.5rem;
    letter-spacing: 9px;
  }
}
@media (max-width: 1052px) {
  .encabezado1 {
    font-size: 2.4rem;
    letter-spacing: 7px;
  }
}
@media (max-width: 1105px) {
  .encabezado2 {
    font-size: 2rem;
    letter-spacing: 1px;
  }
  p {
    font-size: 1.6rem;
  }
}
@media (max-width: 915px) {
  .encabezado1 {
    font-size: 2.3rem;
    letter-spacing: 5px;
  }
}
@media (max-width: 873px) {
  .encabezado2 {
    font-size: 1.8rem;
    letter-spacing: 0px;
  }
  .encabezado1 {
    font-size: 2.2rem;
    letter-spacing: 4px;
  }
  p {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  .icono1 {
    margin: 5% 2% -1% 4%;
  }
  .encabezado1 {
    font-size: 1.9rem;
    letter-spacing: 1px;
  }
  .encabezado2 {
    font-size: 1.9rem;
    letter-spacing: 0px;
  }
}
