<div class="padding-card">
  <div class="card">
    <!-- encabezado desktop -->
    <div class="d-none d-md-block"
    [ngClass]="{'encabezado1': modality.id === 1,
    'encabezado2': modality.id === 2
  }">
      <div class=" icono1"><img src="{{ modality.icon }}" class="icono2" alt="" /></div>

      {{ modality.titleCard }}
    </div>
    <!-- encabezado mobile -->
    <div class="d-block d-md-none text-center" [ngClass]="{'encabezado1': modality.id === 1,
    'encabezado2': modality.id === 2
  }">
      <div class=" icono1"><img src="{{ modality.icon }}" class="icono2" alt="" /></div>
      <p>{{ modality.titleCard }}</p>
    </div>
    <p>{{ modality.description }}</p>
  </div>
  <h2 class="modalidades d-flex justify-content-between mt-4">
    <span>M</span>
    <span>O</span>
    <span>D</span>
    <span>A</span>
    <span>L</span>
    <span>I</span>
    <span>D</span>
    <span>A</span>
    <span>D</span>
    <span>E</span>
    <span>S</span>
  </h2>
  <div class="description">
    <div *ngFor="let mdesc of modality.modalityDescription">
      <img class="icono" src="./../../assets/icon-check.png" alt="">{{ mdesc }}
      <!-- <i class="icono fas fa-check"></i> -->
    </div>
  </div>
</div>
